<div
  style="
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
  "
>
  <h1 style="padding: 3px; background: #eee">
    Hello <span> <%= email %></span>
  </h1>
  <p>You Logged in to your Account at : <%= date%></p>
</div>
