<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
  <h2>Verify Your Email</h2>
  <p>Click on the link in the below to verfify your account :</p>
  <a href="<%=link%>">Verify Your Account</a>
</div>
